body{
  /*background-image: linear-gradient(lime, yellow);*/
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 30px;
}
.Orange{
  color: rgb(255, 17, 0);
}
.Name{
  color:darkgreen;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
.flex-area{
  display: flex;
  
}
.half-width{
  width: 50%;
  padding-left: 7%;
}

.half-width img{
  width: 90%;
  padding-top: 5%;
}

.link-button{
  text-decoration: none;
  background-image:linear-gradient(orange, brown);
  border-radius:5%;
  padding: 10px 40px;
  color: white;
  font-weight: 900;
}

.top-banner{
  background-image:url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/exp-bg.png); 
    background-repeat: no-repeat;
    background-position: left;
}


experience{
  margin-left: 5%;
  padding: 10px 40px
}

.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5% 5%;
  box-shadow: 10px 10px 30px gray;
  border-radius: 5%;
}

.experience-area{
  background-image: url(images/dream-bg_1.png);
  background-repeat: no-repeat;
  background-position-y: 7rem;
}


#exp_1{
  border-left:7px solid;
  border-image: linear-gradient(orange, gold);
  border-image-slice: 1;
}

#exp_2{
  border-left:7px solid;
  border-image: linear-gradient(red, orange);
  border-image-slice: 1;
}

footer p{
  text-align: center;
  padding-top: 2%;
}




